<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>詳細</title>
</head>
<body>
<main class="container">
    <section class="employeeDetail">
        <table class="table is-bordered is-fullwidth">
            <tr>
                <th class="has-text-centered tableHeader">従業員番号</th>
                <td th:text="${employee.employeeNumber()}">1</td>
            </tr>
            <tr>
                <th class="has-text-centered tableHeader">氏名</th>
                <td th:text="${employee.name()}">山田 太郎</td>
            </tr>
            <tr>
                <th class="has-text-centered tableHeader">メールアドレス</th>
                <td th:text="${employee.mailAddress()}">someone@example.com</td>
            </tr>
            <tr>
                <th class="has-text-centered tableHeader">電話番号</th>
                <td th:text="${employee.phoneNumber()}">0120-888-888</td>
            </tr>
        </table>
    </section>
</body>
</html>
